/*{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
/*------------------- image -----------------------*/
.image_product img{
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  margin: 1rem 1rem 3rem 4rem;
}

.logo{
  width: 10rem;
  height: auto;
  border: 6px solid transparent;
  border-radius: 1rem;
  margin: 2rem;

  }

  img:hover{
  border:  6px  solid rgb(233, 188, 40);
  }
  

/* father container ------------------------*/
.App{
  max-width: 1500px;
  width: 100%; 
  min-height: 100vh;    /* screen always be full size  f*/
  margin: 0 auto;     
  box-shadow: 0 5px 6px rgb(91, 148, 235);
  padding: 0 15px;
  box-sizing: border-box;


}

/*-----------------------Header -------------------*/
header{
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  max-width: 1430px;
  overflow: hidden;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 position: fixed;
 box-sizing: border-box;
 background-color: rgb(247, 246, 245);
 box-shadow: 0 10px 10px rgb(97, 88, 71);
 border-radius:  1rem;

}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: rgb(136, 127, 96);
}

li{
list-style: none;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li{
  padding: 0 1rem;
}
header ul li a{
  font-weight: bold;
}

/*----------------------Cart --------------*/

header .cart{
  position: relative;
  cursor: pointer;
}

header .cart box-icon{
  width: 45px;
  height: 45px;
}

header .cart span{
  position: absolute;
  top: -1rem;
  right:  -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  
  border-color: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding:  0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: red;

}
/*---------------------Products-----------*/
.product{

  /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/

 /* display: grid;
  grid-template-columns: minmax(auto, 1fr) 4fr;
  gap: 3 rem 2 rem;
  flex-direction: column; */
  display:flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgb(71, 64, 38);
  margin: 20px;
  border: 6px solid transparent;
  border-radius:  1rem;

}

.product:hover{
 border: 6px solid rgb(128, 121, 110);
}

.products{

padding: 0 auto;
 /* padding: 5rem 2rem;*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 2fr));
  gap: 3 rem 2 rem;
  box-sizing: border-box;
}

.product_footer{
  padding: 1rem 0.5rem 0.5rem 2rem;
  margin-top: -250px;
  margin-left: 250px;
}

.product_footer h1{
  font-size:  2rem;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  padding: 1rem 0 0 2rem ;
  color: rgb(15, 15, 15);
}

.product_footer p{
  font-size:  18px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  padding: 1rem 0 0 2rem ;
  color: rgba(15, 15, 15, 0.534);
  text-transform: uppercase;

}

.product_footer .price{
  font-size: 2rem;
  color: black;
}

.product .buttom{
  width: 100%;
  display: grid;
  height: 45px;
  grid-template-columns: 2fr 1fr;
 
}

.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buttom .ADD{
  background-color: rgba(255, 166, 0, 0.445);
  max-width: 250px;
  width: 100%;
  padding: 0 1rem;;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
   
}

.buttom .ADD:hover{
  color: rgb(156, 117, 45);
}

.buttom div{
  background-color: rgba(123, 161, 66, 0.596);
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 2rem;
}

.buttom div a{
  color: white;
  font-size: 1.5rem;
}

.buttom div a:hover{
  color: rgb(43, 94, 62);
  

}


/*-------------------------Media -----------------*/
@media only screen and (max-width: 600px){
  header ul{
    display: none;

  }
  
  
}

